html{
	font-size: 62.5%;
}
body{
	max-width: 70rem;
	margin: 0 auto;
}

header{
	position: fixed;
	max-width: 70rem;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #29bde0;
	overflow:hidden;
	padding: 1.4rem;
	color: #fff;
	z-index: 1;
}

.home{
	height:40px;
	width: 39px;
	background: url(page2/sprite.png) -0px -0px no-repeat;
	border: none;
	outline: none;
}

header h3{
	text-align: center;
	font-size: 3rem;
}

.delete{
	width: 36px;
	height: 36px;
	background: url(page2/sprite.png) -39px -0px no-repeat;
	outline:none;
	border: none;
}


main{
	margin: 0;
	padding: 0;
	background: #29bde0;
	overflow: hidden;
	margin-bottom:10rem;
}
.begin{
	position: relative;
	margin: 0;
	background: #b9e9f5;
	overflow: hidden;
	margin-top: 8rem;
	color: #666;
	height: 6rem;
}

.begin p{
	font-size: 2.6rem;
	margin-left: 5%;
	line-height: 6rem;
}

.begin button{
	position: absolute;
	right: 3%;
	top: 50%;
	transform: translate(0,-50%);
	height: 4rem;
	width: 4rem;
	background: #fbb435;
	border-radius: 50%;
	outline:none;
	border:0 none;
	cursor: pointer;
}

.begin button div{
	width: 0;
	height: 0;
	border-top: 1.3rem solid transparent;
	border-left: 2.4rem solid #fff;
	border-bottom: 1.3rem solid transparent;
	margin: 0 .7rem;

}

.down{
	width: 0;
	height: 0;
	border-left: 1.3rem solid transparent;
	border-right: 1.3rem solid transparent;
	border-top: 2rem solid #b9e9f5;
	margin-left: 5rem;
}

.count{
	font-size: 2.4rem;
	background: #29bde0;
	color: #fff;
	margin-left: 5rem;
}

ul{
	margin-top: 4%;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.room{
	text-align: center;
	position: relative;
	font-size: 3rem;
	color: #666;
	overflow: hidden;
}
.square{
	display: inline-block;
	border:.5rem solid #fff;
	width: 70%;
}

.name{
	background: #f5c97b;
	padding: 20% 5%;
}

.number{
	background: #83b09a;
}

.icon{
	margin: 4%;
	text-align: center;
	visibility: hidden;
}

.room:hover .icon{
	visibility: visible;
}

.icon i{
	display: inline-block;
	cursor: pointer;
}
.icon-1{
	width: 30px;
	height: 30px;
	background: url(page2/sprite.png) -75px -0px no-repeat;

}

.icon-2{
	width: 30px;
	height: 30px;
	background: url(page2/sprite.png) -105px -0px no-repeat;

}
.icon-3{
	width: 30px;
	height: 30px;
	background: url(page2/sprite.png) -135px -0px no-repeat;

}
.icon-4{
	width: 30px;
	height: 30px;
	background: url(page2/sprite.png) -165px -0px no-repeat;

}
footer{
	position: fixed;
	width: 100%;
	max-width: 70rem;
	height: 10rem;
	bottom:0;
	border-top: 1px solid #fff;
	z-index: 1;
	text-align: center;
	background: #29bde0;
}
footer a{
	text-decoration: none;
}

footer button{
	width: 50%;
	height: 60%;
	margin-top: 2rem;
	font-size: 3.5rem;
	color: #fff;
	background: #fbb435;
     
}

@media screen and (min-width: 320px) and (max-width: 480px){
	.begin p{
		font-size: 2rem;
	}
	.count{
		font-size: 2rem;
		margin-top: .5rem;
	}
	.room{
		font-size: 2rem;
	}
	.square{
		width: 100%;
	}
}
@media screen and (min-width: 480px) and (max-width: 600px){
	.square{
		width: 100%;
	}
}